<app-navbar></app-navbar>
 <section class="container-fluid mt-5 py-5">
  <div class="container shadow p-3 mb-5 bg-white rounded">
     <div>
      <button class="btn btn-primary" routerLink="/add">Add Course</button>
      <table class="table mt-2">
       <thead>
        <tr>
          <th>Course Name</th>
          <th>Course Category</th>
          <th>Course Status</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
       </thead>
       <tbody>
        <tr *ngFor="let c of course">
          <th>{{c.course_Name}}</th>
          <th>{{c.course_Category}}</th>
          <th>{{c.course_Status}}</th>
          <th>{{c.created_at |date:'M/d/yy, h:mm a'}}</th>
          <th>
            <button class="btn btn-success mx-2" [routerLink]="['/edit',c._id]">Edit</button>
            <button class="btn btn-danger mx-2" (click)="deleteCourse(c._id)">Delete</button>
          </th>
        </tr>
       </tbody>
      </table>
     </div>
  </div>
 </section>
