<app-navbar></app-navbar>
<section class="container-fluid">
  <div class="container">
    <div class='d-flex w-100 vh-100 justify-content-center align-items-center bg-light'>
      <div class='w-50 border bg-white shadow px-5 pt-3 pb-5 rounded'>
          <h1>Add a Course</h1>
          <form class="form" #myForm="ngForm" (ngSubmit)="addCourse(myForm.value)">
              <div class='mb-2'>
                  <label for="name">Course</label>
                  <input type="text" name="course_Name" #name="ngModel" placeholder="Enter Course Name" class="form-control" ngModel required>
                  <div *ngIf="name.invalid && name.touched" class="alert alert-danger">Course is Required</div>
              </div>

              <div class='mb-2'>
                  <label for="city">Course Category</label>
                  <input type="text" name="course_Category" #cat="ngModel" placeholder="Enter Course Category" class="form-control" ngModel required>
                  <div *ngIf="cat.invalid && cat.touched" class="alert alert-danger">Course Category is Required</div>
              </div>

              <div class='mb-2'>
                  <label for="education">Course Status</label>
                  <select name="course_Status" class="form-control">
                    <option value="">Course Status</option>
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                  </select>
              </div>
              <button class="btn btn-primary mt-2" type="submit">Add</button>
          </form>
      </div>
  </div>

  </div>
</section>
