<div class='d-flex w-100 vh-100 justify-content-center align-items-center bg-light'>
  <div class='w-50 border bg-white shadow px-5 pt-3 pb-5 rounded'>
      <h3>Create Your Account</h3>
      <form #myForm="ngForm" (ngSubmit)="signUp(myForm.value)">
      <div class='mb-2'>
          <label for="name">Email Id</label>
          <input type="text" name="email" placeholder="Enter Your Email" class="form-control"
          ngModel required>
      </div>
      <div class='mb-2'>
          <label for="name">User Password</label>
          <input type="text" name="password" placeholder="Enter Your Password" class="form-control"
         ngModel required>
      </div>

      <button type="submit" class="btn btn-primary" >signUp</button>
      </form>
  </div>
</div>
